$darkBlue: #121217;
$lightBlue:#0070f2;
$white:#fff;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body{
    background-color: $darkBlue;
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    padding:0;
    width:100vw;

    nav{
        display: grid;
        grid-template-columns: calc(7rem + 8vw) 1fr;
        background-color: $darkBlue;
        height:70px;
        width:95vw;
        margin:0 2.5vw;
        position: relative;
            
    
        #name{
            display: flex;
            align-items: center;

            a{
                color:$white;
                text-decoration: none;
                font-size: calc(0.7rem + 1.05vw);
                font-weight: 300;
                letter-spacing: calc(0.02rem + 0.07vw);
            }
        }

        #menu-icon{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height:100%;

            @media screen and (min-width:800px) {
                display: none;
            }

            #menu-button{
                background-color: $darkBlue;
                display: flex;
                align-items: center;
                padding:5px;

                img{
                    max-width: 70%;
                    max-height:70%;
                }
            }
        }

        #links{
            list-style: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            li{
                color:$white;
                font-weight: 300;
                font-size: calc(0.6rem + 0.6vw);
                text-decoration: none;
                letter-spacing: calc(0.05rem + 0.1vw);
                margin-left:calc(0.02rem + 1.3vw);
            }

            @media screen and (max-width:800px) {
                display: none;
                margin:0;
                padding:0;
                position: absolute;
                flex-direction: column;
                background-color: $darkBlue;
                top:70px;
                width:100vw;
                left:0;
                
                li{
                    text-align: left;
                }
            }
        }
    }

    main{
        #content-container{

            width:40vw;

            margin-left:calc(17vw + 45px);
            @media screen and (max-width: 800px) {
                margin-left:10vw;
                width:80vw;
            }
            background-color: #fff;
    
            #home{

            }
        }
    }
}