@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

$LightBlue1: #2725A7;
$LightBlue2: #26249B;
$LightBlue3: #222186;

$TrueWhite : #FFF;

$LightGrey1: #FAFAFA;
$LightGrey2: #F7F7F7;
$LightGrey3: #E8E8E8;

$DarkGrey1: #1F1F1F;
$DarkGrey2: #101010;

$SidebarWidth: calc(12.2rem + 8.1vw);
$ContentLeftPadding: calc(0.95rem + 2.6vw);

@import './mixins/buttons.scss';
@import './mixins/p.scss';
@import './mixins/section-title.scss';

@import './sections/home.scss';
@import './sections/skills.scss';

@import './sidebar.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    background-color: $LightGrey3;
    color: $DarkGrey2;

    button#show-nav{

        position: fixed;
        top: 3.85rem;
        right: 0;
        padding: 0.1rem 1.1rem 0.1rem 0.4rem;
        border: none;

        background-color: $LightGrey3;

        img{
            height: 2rem;
        }
        

        @media (min-width:750px) {
            display: none;
        }
    }

    main{
        margin-left: $SidebarWidth;
    
        @media (max-width:750px) {
            margin-left: 0;
        }
    
        section{
            background-color: $LightGrey2;
            padding-left: $ContentLeftPadding;
        }
    }
}