nav#sidebar{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;

    height: 100vh;

    background-color: $LightBlue1;
    color:$LightGrey1;

    @media (min-width:750px) {
        display: block !important;
        width: $SidebarWidth;
    }

    @media (max-width:750px) {
        width: 100vw;
    }

    button#remove-nav{
        position: fixed;
        border: none;
        background-color: $LightBlue2;
        top: 3.85rem;
        right: 1.1rem;

        img{
            height: 2rem;
        }

        @media (min-width:750px) {
            display: none;
        }
    }

    div#top{
        height: calc(9rem + 5vw);

        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: $LightBlue2;
        box-shadow: 0 2px 2px $LightBlue3;
        color: $TrueWhite;

        h1{
            margin-top: calc(1.55rem + 1vw);
            font-weight: 400;
            letter-spacing: calc(0.05rem + 0.01vw);
            font-size: calc(1.55rem + 0.19vw);
        }

        span{
            margin-top: calc(0.3rem + 0.2vw);
            font-weight: 100;
            letter-spacing: calc(0.03rem + 0.02vw);
            font-size: calc(1.4rem + 0.13vw);
        }
    }

    ul#sections{
        padding: calc(0.5rem + 0.2vw) 0;

        list-style: none;

        li{
            padding: calc(1.2rem + 0.4vw) 0;

            a{
                padding-left: calc(1.5rem + 1.25vw);

                font-size: calc(1.05rem + 0.1vw);
                letter-spacing: calc(0.025rem + 0.015vw);
                font-weight: 100;
            }
        }
    }

    div#links{
        width: 87%;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        border-top: 1px solid $LightBlue3;
        padding-top: calc(2rem + 0.75vw);

        div#icons{
            width: calc(8.5rem + 1vw);

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a{
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    max-width: calc(1.75rem + 0.2vw);
                    max-height: calc(1.75rem + 0.2vw);
                }
            }
        }

        a#resume-link{
            margin-top: calc(1rem + 0.45vw);

            font-size: calc(1.1rem + 0.1vw);
            letter-spacing: calc(0.033rem + 0.019vw);
            font-weight: 200;
        }
    }
}