$darkBlue: #15151c;
$lightBlue:#0061d0;
$white:#fff;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

body{
    background-color: $darkBlue;
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    padding:0;
    width:100vw;

    nav{
        display: grid;
        grid-template-columns: calc(8rem + 8vw) 1fr;
        background-color: $darkBlue;
        height:70px;
        width:95vw;
        margin:0 2.5vw;
        position: fixed;
        top:0;
        left:0;
            
    
        #name{
            display: flex;
            align-items: center;

            span{
                color:$white;
                text-decoration: none;
                font-size: calc(1.2rem + 0.3vw);
                font-weight: 300;
                letter-spacing: calc(0.02rem + 0.03vw);
                user-select: none;
                cursor: pointer;
            }
        }

        #menu-icon{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height:100%;

            @media screen and (min-width:800px) {
                display: none;
            }

            #menu-button{
                background-color: $darkBlue;
                display: flex;
                align-items: center;
                justify-content: center;
                height:35px;
                width:35px;

                img{
                    max-width:60%;
                    max-height:60%;
                }
            }
        }

        .links{
            display: flex;
            list-style: none;
            margin:0;
            padding:0;

            li,a{
                color:$white;
                text-decoration: none;
                user-select: none;
                font-weight: 300;
                cursor: pointer;
            }

            &#desktop-links{
                align-items: center;
                justify-content: flex-end;
                letter-spacing: calc(0.04rem + 0.04vw);
                font-size: calc(0.8rem + 0.34vw);

                li{
                    margin-left:calc(0.02rem + 1.3vw);
                }

                @media screen and (max-width:800px) {
                    display: none !important;
                }
            }

            &#mobile-links{
                display: none;
                margin:0;
                padding:0;
                position: fixed;
                flex-direction: column;
                background-color: $darkBlue;
                top:70px;
                left:0;
                width:100vw;
                padding-bottom:20px;
                font-size: calc(1.2rem + 0.2vw);

                li{
                    margin:calc(0.4rem + 0.3vw) 0 calc(0.5rem + 0.5vw) calc(0.4rem + 0.3vw);
                }


                @media screen and (min-width:800px) {
                    display: none !important;
                }
            }
        }
    }

    main{
        #content-container{
            width:47vw;

            margin-left:calc(15vw + 45px);
            @media screen and (max-width: 800px) {
                margin-left:10vw;
                width:80vw;
            }
    
            section{
                box-sizing: border-box;
                min-height:100vh;
                color:$white;
                margin-top:calc(5rem + 7vw);

                ::selection {
                    color: $darkBlue;
                    background:$white;
                }

                &#home{
                    padding-top:calc(1.4rem + 3.5vw);

                    span{
                        font-weight: 200;
                        font-size: calc(1.1rem + 0.9vw);
                        margin:0;
                        padding:0;
                    }

                    h1{
                        font-weight: 600;
                        font-size: calc(3rem + 2.3vw);
                        margin:0;
                        padding:0;
                    }

                    #icons{
                        padding-top:calc(0.5rem + 0.2vw);
                        display: flex;
                        flex-direction: row;
                        user-select: none;

                        a{
                            height:calc(1.7rem + 0.8vw);
                            width:calc(4.5rem + 1.1vw);
                            margin-right:calc(0.9rem + 0.8vw);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color:$white;
                            text-decoration: none;
                            font-size: calc(1.05rem + 0.2vw);
                            font-weight: 200;

                            img{
                                max-width:70%;
                                max-height:70%;
                                padding-right:calc(0.3rem + 0.1vw);
                            }

                            &#email{
                                width:calc(5rem + 1.1vw);
                                background-color: $lightBlue;
                                font-weight: 400;
                                border-radius: 3px;

                                img{
                                    max-height: 50%;
                                }
                            }
                        }
                    }
                }

                h2{
                    font-size: calc(1.6rem + 1.3vw);
                    font-weight: 600;
                    margin-bottom:calc(0.5rem);
                }

                p{
                    font-size: calc(1.1rem + 0.2vw);
                    font-weight: 200;
                    line-height:calc(1.7rem + 0.65vw);
                    margin:0;
                }

                &#skills{
                    ul{
                        display:flex;
                        padding:0;

                        .col {
                            padding-left:calc(2.4rem + 4vw);
                            &:first-of-type{
                                padding-left:calc(1.6rem + 1.2vw);
                            }

                            li{
                                font-size: calc(1.25rem + 0.2vw);
                                font-weight: 200;
                                margin-bottom:calc(0.7rem + 0.5vw);
                            }
                        }
                    }
                }

                &#projects{
                    ul{
                        list-style: none;
                        padding: 0;

                        li{
                            margin-bottom:calc(0.8rem + 50px);

                            h3{
                                font-size: calc(1.4rem + 0.4vw);
                                font-weight: 600;
                                margin-bottom:calc(0.5rem + 0.1vw);
                            }
    
                            .links{
                                margin-top:calc(0.5rem + 0.2vw);
                                display: flex;
    
                                a{
                                    margin-right:calc(0.5rem + 0.5vw);
                                    box-sizing: border-box;
                                    padding:calc(0.2rem + 0.1vw) calc(0.4rem + 0.2vw);
                                    font-weight: 400;
                                    background-color: $white;
                                    text-decoration: none;
                                    color:$darkBlue;
                                    font-size: calc(0.8rem + 0.3vw);
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }

                &#contact{
                    display: flex;
                    flex-direction: column;
                    a{
                        display: flex;
                        align-items: center;
                        color:$white;
                        text-decoration: none;
                        font-size: calc(1.1rem + 0.2vw);
                        height:calc(1.7rem + 0.65vw);
                        margin:calc(0.25rem + 0.4vw);
                        font-weight: 200;

                        img{
                            padding-right:calc(0.35rem + 0.2vw);
                            width:calc(1rem + 1vw);
                        }

                        &:first-of-type{
                            margin-top:calc(0.5rem + 0.5vw);
                        }
                    }
                }
            }
        }
    }
}